In [2]:
#IMPORTING ALL THE NECESSARY LIBRARIES
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import MinMaxScaler
import joblib

Matplotlib is building the font cache; this may take a moment.

In [ ]:
    #STEP 1 PREPROCESSING THE DATA
#Step 1.1 Load the dataset
df=pd.read_csv("irrigation.csv")

In [4]:
#Testing
print(df.head())

   Unnamed: 0  sensor_0  sensor_1  ...  parcel_0  parcel_1  parcel_2
0           0       1.0       2.0  ...         0         1         0
1           1       5.0       1.0  ...         0         0         0
2           2       3.0       1.0  ...         1         1         0
3           3       2.0       2.0  ...         0         0         0
4           4       4.0       3.0  ...         1         1         0

[5 rows x 24 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2000 non-null   int64
 1   sensor_0    2000 non-null   float64
 2   sensor_1    2000 non-null   float64
 3   sensor_2    2000 non-null   float64
 4   sensor_3    2000 non-null   float64
 5   sensor_4    2000 non-null   float64
 6   sensor_5    2000 non-null   float64
 7   sensor_6    2000 non-null   float64
 8   sensor_7    2000 non-null   float64
 9   sensor_8    2000 non-null   float64
 10  sensor_9    2000 non-null   float64
 11  sensor_10   2000 non-null   float64
 12  sensor_11   2000 non-null   float64
 13  sensor_12   2000 non-null   float64
 14  sensor_13   2000 non-null   float64
 15  sensor_14   2000 non-null   float64
 16  sensor_15   2000 non-null   float64
 17  sensor_16   2000 non-null   float64
 18  sensor_17   2000 non-null   float64
 19  sensor_18   2000 non-null   float64
 20  sensor_19   2000 non-null   float64
 21  parcel_0    2000 non-null   int64
 22  parcel_1    2000 non-null   int64
 23  parcel_2    2000 non-null   int64
dtypes: float64(20), int64(4)
memory usage: 375.1 KB

In [7]:
df.columns

Index(['Unnamed: 0', 'sensor_0', 'sensor_1', 'sensor_2', 'sensor_3',
       'sensor_4', 'sensor_5', 'sensor_6', 'sensor_7', 'sensor_8', 'sensor_9',
       'sensor_10', 'sensor_11', 'sensor_12', 'sensor_13', 'sensor_14',
       'sensor_15', 'sensor_16', 'sensor_17', 'sensor_18', 'sensor_19',
       'parcel_0', 'parcel_1', 'parcel_2'],
      dtype='object')

In [11]:
df=df.drop('Unnamed: 0', axis=1)
df.head()

   sensor_0  sensor_1  sensor_2  ...  parcel_0  parcel_1  parcel_2
0       1.0       2.0       1.0  ...         0         1         0
1       5.0       1.0       3.0  ...         0         0         0
2       3.0       1.0       4.0  ...         1         1         0
3       2.0       2.0       4.0  ...         0         0         0
4       4.0       3.0       3.0  ...         1         1         0

[5 rows x 23 columns]

In [12]:
df.describe()

          sensor_0     sensor_1  ...     parcel_1     parcel_2
count  2000.000000  2000.000000  ...  2000.000000  2000.000000
mean      1.437000     1.659000  ...     0.730500     0.212000
std       1.321327     1.338512  ...     0.443811     0.408827
min       0.000000     0.000000  ...     0.000000     0.000000
25%       0.000000     1.000000  ...     0.000000     0.000000
50%       1.000000     1.000000  ...     1.000000     0.000000
75%       2.000000     2.000000  ...     1.000000     0.000000
max       8.000000     9.000000  ...     1.000000     1.000000

[8 rows x 23 columns]

In [13]:
#STEP 2:DEFINE ALL THE FEATURES
X=df.iloc[:,0:20]
y=df.iloc[:,20:0]

In [14]:
X.sample()

      sensor_0  sensor_1  sensor_2  ...  sensor_17  sensor_18  sensor_19
1303       0.0       1.0       2.0  ...        1.0        1.0        1.0

[1 rows x 20 columns]

In [15]:
y.sample(10)

Empty DataFrame
Columns: []
Index: [617, 1688, 1655, 660, 1369, 591, 368, 1130, 395, 1007]

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sensor_0   2000 non-null   float64
 1   sensor_1   2000 non-null   float64
 2   sensor_2   2000 non-null   float64
 3   sensor_3   2000 non-null   float64
 4   sensor_4   2000 non-null   float64
 5   sensor_5   2000 non-null   float64
 6   sensor_6   2000 non-null   float64
 7   sensor_7   2000 non-null   float64
 8   sensor_8   2000 non-null   float64
 9   sensor_9   2000 non-null   float64
 10  sensor_10  2000 non-null   float64
 11  sensor_11  2000 non-null   float64
 12  sensor_12  2000 non-null   float64
 13  sensor_13  2000 non-null   float64
 14  sensor_14  2000 non-null   float64
 15  sensor_15  2000 non-null   float64
 16  sensor_16  2000 non-null   float64
 17  sensor_17  2000 non-null   float64
 18  sensor_18  2000 non-null   float64
 19  sensor_19  2000 non-null   float64
dtypes: float64(20)
memory usage: 312.6 KB

In [17]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Empty DataFrame

In [18]:
X.shape,y.shape

((2000, 20), (2000, 0))