In [36]:
#IMPORTING ALL THE NECESSARY LIBRARIES
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import MinMaxScaler
import joblib

In [37]:
# -------------------------------
# STEP 1 : PREPROCESSING THE DATA
# -------------------------------
   
# Step 1.1 : Load the dataset

df=pd.read_csv("irrigation_dataset.csv")

In [38]:
# Printing the first five rows of the dataset to verify loading

print(df.head())

   Unnamed: 0  sensor_0  sensor_1  sensor_2  sensor_3  sensor_4  sensor_5  \
0           0       1.0       2.0       1.0       7.0       0.0       1.0
1           1       5.0       1.0       3.0       5.0       2.0       2.0
2           2       3.0       1.0       4.0       3.0       4.0       0.0
3           3       2.0       2.0       4.0       3.0       5.0       0.0
4           4       4.0       3.0       3.0       2.0       5.0       1.0

   sensor_6  sensor_7  sensor_8  ...  sensor_13  sensor_14  sensor_15  \
0       1.0       4.0       0.0  ...        8.0        1.0        0.0
1       1.0       2.0       3.0  ...        4.0        5.0        5.0
2       1.0       6.0       0.0  ...        3.0        3.0        1.0
3       3.0       2.0       2.0  ...        4.0        1.0        1.0
4       3.0       1.0       1.0  ...        1.0        3.0        2.0

   sensor_16  sensor_17  sensor_18  sensor_19  parcel_0  parcel_1  parcel_2
0        2.0        1.0        9.0        2.0         0         1         0
1        2.0        2.0        2.0        7.0         0         0         0
2        0.0        3.0        1.0        0.0         1         1         0
3        4.0        1.0        3.0        2.0         0         0         0
4        2.0        1.0        1.0        0.0         1         1         0

[5 rows x 24 columns]

In [39]:
df.info()  # Checking the dataset information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2000 non-null   int64
 1   sensor_0    2000 non-null   float64
 2   sensor_1    2000 non-null   float64
 3   sensor_2    2000 non-null   float64
 4   sensor_3    2000 non-null   float64
 5   sensor_4    2000 non-null   float64
 6   sensor_5    2000 non-null   float64
 7   sensor_6    2000 non-null   float64
 8   sensor_7    2000 non-null   float64
 9   sensor_8    2000 non-null   float64
 10  sensor_9    2000 non-null   float64
 11  sensor_10   2000 non-null   float64
 12  sensor_11   2000 non-null   float64
 13  sensor_12   2000 non-null   float64
 14  sensor_13   2000 non-null   float64
 15  sensor_14   2000 non-null   float64
 16  sensor_15   2000 non-null   float64
 17  sensor_16   2000 non-null   float64
 18  sensor_17   2000 non-null   float64
 19  sensor_18   2000 non-null   float64
 20  sensor_19   2000 non-null   float64
 21  parcel_0    2000 non-null   int64
 22  parcel_1    2000 non-null   int64
 23  parcel_2    2000 non-null   int64
dtypes: float64(20), int64(4)
memory usage: 375.1 KB

In [40]:
df.columns  # Checking the columns of the dataset

Index(['Unnamed: 0', 'sensor_0', 'sensor_1', 'sensor_2', 'sensor_3',
       'sensor_4', 'sensor_5', 'sensor_6', 'sensor_7', 'sensor_8', 'sensor_9',
       'sensor_10', 'sensor_11', 'sensor_12', 'sensor_13', 'sensor_14',
       'sensor_15', 'sensor_16', 'sensor_17', 'sensor_18', 'sensor_19',
       'parcel_0', 'parcel_1', 'parcel_2'],
      dtype='object')

In [41]:
df=df.drop('Unnamed: 0', axis=1)  # Dropping the first unnecessary column
df.head() # Displaying the first five rows after dropping the column

,sensor_0,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,...,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,parcel_0,parcel_1,parcel_2
0,1.0,2.0,1.0,7.0,0.0,1.0,1.0,4.0,0.0,3.0,...,8.0,1.0,0.0,2.0,1.0,9.0,2.0,0,1,0
1,5.0,1.0,3.0,5.0,2.0,2.0,1.0,2.0,3.0,1.0,...,4.0,5.0,5.0,2.0,2.0,2.0,7.0,0,0,0
2,3.0,1.0,4.0,3.0,4.0,0.0,1.0,6.0,0.0,2.0,...,3.0,3.0,1.0,0.0,3.0,1.0,0.0,1,1,0
3,2.0,2.0,4.0,3.0,5.0,0.0,3.0,2.0,2.0,5.0,...,4.0,1.0,1.0,4.0,1.0,3.0,2.0,0,0,0
4,4.0,3.0,3.0,2.0,5.0,1.0,3.0,1.0,1.0,2.0,...,1.0,3.0,2.0,2.0,1.0,1.0,0.0,1,1,0

In [42]:
df.describe()   # Displaying the statistical summary of the dataset

,sensor_0,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,...,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,parcel_0,parcel_1,parcel_2
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.00000,2000.000000,2000.000000
mean,1.437000,1.659000,2.654500,2.674500,2.887500,1.411000,3.315500,4.201500,1.214000,1.901000,...,2.731500,3.416000,1.206500,2.325000,1.729500,2.27450,1.813500,0.63550,0.730500,0.212000
std,1.321327,1.338512,1.699286,1.855875,1.816451,1.339394,2.206444,2.280241,1.386782,1.518668,...,1.774537,1.960578,1.258034,1.715181,1.561265,1.67169,1.469285,0.48141,0.443811,0.408827
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,1.000000,2.000000,0.000000,2.000000,3.000000,0.000000,1.000000,...,1.000000,2.000000,0.000000,1.000000,0.000000,1.00000,1.000000,0.00000,0.000000,0.000000
50%,1.000000,1.000000,2.000000,2.000000,3.000000,1.000000,3.000000,4.000000,1.000000,2.000000,...,2.000000,3.000000,1.000000,2.000000,1.000000,2.00000,2.000000,1.00000,1.000000,0.000000
75%,2.000000,2.000000,4.000000,4.000000,4.000000,2.000000,5.000000,6.000000,2.000000,3.000000,...,4.000000,5.000000,2.000000,3.000000,3.000000,3.00000,3.000000,1.00000,1.000000,0.000000
max,8.000000,9.000000,10.000000,11.000000,12.000000,7.000000,13.000000,12.000000,8.000000,9.000000,...,11.000000,11.000000,6.000000,10.000000,11.000000,10.00000,7.000000,1.00000,1.000000,1.000000

In [43]:
# -------------------------------
# STEP 2 : DEFINE ALL THE FEATURES
# -------------------------------

# Step 2.1 : Define the features and target variable

X=df.iloc[:,0:20]  # This gives you columns 0 to 19 (sensor_0 to sensor_19)
y=df.iloc[:,20:0]  # This gives you rows 20 to 0 (the target variable)

In [44]:
X.sample()  # Displaying a random sample of the features without a target

,sensor_0,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,sensor_11,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19
214,0.0,1.0,4.0,6.0,2.0,2.0,1.0,4.0,1.0,2.0,1.0,8.0,6.0,3.0,3.0,1.0,0.0,0.0,4.0,2.0

In [45]:
X.sample(10)  # Displaying a random sample of the features of size 10

,sensor_0,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,sensor_11,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19
672,2.0,3.0,5.0,2.0,6.0,5.0,3.0,3.0,4.0,1.0,3.0,1.0,1.0,4.0,1.0,1.0,3.0,1.0,0.0,3.0
1356,3.0,1.0,2.0,3.0,4.0,2.0,5.0,2.0,0.0,0.0,6.0,2.0,3.0,2.0,2.0,2.0,2.0,0.0,3.0,0.0
157,5.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,1.0,3.0,2.0,4.0,3.0,2.0,2.0,1.0,2.0,2.0,5.0,3.0
1227,1.0,0.0,1.0,3.0,1.0,0.0,2.0,5.0,0.0,1.0,1.0,2.0,6.0,6.0,7.0,1.0,2.0,3.0,2.0,1.0
355,1.0,1.0,6.0,4.0,3.0,1.0,6.0,7.0,0.0,0.0,4.0,1.0,6.0,4.0,5.0,0.0,3.0,1.0,1.0,1.0
1739,6.0,5.0,3.0,4.0,1.0,3.0,0.0,2.0,2.0,7.0,4.0,1.0,3.0,5.0,2.0,4.0,1.0,2.0,4.0,3.0
452,1.0,1.0,2.0,2.0,4.0,1.0,5.0,4.0,1.0,0.0,2.0,5.0,3.0,3.0,3.0,1.0,6.0,2.0,1.0,3.0
1628,0.0,2.0,4.0,2.0,3.0,0.0,1.0,0.0,0.0,4.0,0.0,6.0,3.0,0.0,6.0,2.0,0.0,1.0,5.0,1.0
518,3.0,4.0,4.0,2.0,3.0,2.0,3.0,5.0,2.0,4.0,5.0,1.0,2.0,1.0,2.0,2.0,2.0,0.0,6.0,2.0
1479,0.0,3.0,3.0,4.0,1.0,2.0,3.0,5.0,0.0,1.0,2.0,4.0,5.0,3.0,8.0,0.0,2.0,0.0,1.0,1.0

In [46]:
y.sample() # Displaying a random sample of the target variable

Empty DataFrame
Columns: []
Index: [1168]

In [47]:
y.sample(10)  # Displaying a random sample of the target variable of size 10

Empty DataFrame
Columns: []
Index: [462, 664, 1602, 301, 831, 584, 1112, 852, 606, 1404]

In [48]:
X.info()  # Checking the features information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sensor_0   2000 non-null   float64
 1   sensor_1   2000 non-null   float64
 2   sensor_2   2000 non-null   float64
 3   sensor_3   2000 non-null   float64
 4   sensor_4   2000 non-null   float64
 5   sensor_5   2000 non-null   float64
 6   sensor_6   2000 non-null   float64
 7   sensor_7   2000 non-null   float64
 8   sensor_8   2000 non-null   float64
 9   sensor_9   2000 non-null   float64
 10  sensor_10  2000 non-null   float64
 11  sensor_11  2000 non-null   float64
 12  sensor_12  2000 non-null   float64
 13  sensor_13  2000 non-null   float64
 14  sensor_14  2000 non-null   float64
 15  sensor_15  2000 non-null   float64
 16  sensor_16  2000 non-null   float64
 17  sensor_17  2000 non-null   float64
 18  sensor_18  2000 non-null   float64
 19  sensor_19  2000 non-null   float64
dtypes: float64(20)
memory usage: 312.6 KB

In [49]:
y.info() # Checking the target variable information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Empty DataFrame

In [50]:
X.shape,y.shape  # Checking the shape of features and target variable

((2000, 20), (2000, 0))